{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Find easily a doctor and book online an appointment">
	<meta name="author" content="Ansonika">
	<title> {% block title %}  {% endblock %} </title>
	{% load staticfiles %}
	<!-- Favicons-->
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %} ">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %} ">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %} ">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %} ">

	<!-- BASE CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/menu.css' %}" rel="stylesheet">
	<link href="{% static 'css/vendors.css' %}" rel="stylesheet">
	<link href="{% static 'css/icon_fonts/css/all_icons_min.css' %}" rel="stylesheet">    
	<!-- YOUR CUSTOM CSS -->
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">

	<script type="text/javascript" src="{% static 'moment/moment.js' %}"></script> 
	<script type="text/javascript" src="{% static 'moment/locale/es.js' %}"></script>
	<script src="{% static 'js/push.min.js' %}"></script>

	<script type="text/javascript">

		/*moment().locale('es');
		moment().format('MMMM Do YYYY, h:mm:ss a');
		alert(moment("20180101", "YYYYMMDD").fromNow());*/
	</script>

	<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

	
	


	{% block scripts %} 

    {% endblock %} 
</head>
	<body>
	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
    
    <header class="header_map">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-6">
					<div id="logo">
						<a href="index.html" title="Findoctor"><img src="" data-retina="true" alt="" width="163" height="36"></a>
					</div>
				</div>
				<nav class="col-lg-9 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
					<ul id="top_access">
						<li id="user">
							<a href="#0">
								<figure><img src="http://via.placeholder.com/150x150.jpg" alt=""></figure>
								Jhon Smith
							</a>
						</li>
					</ul>
					<div class="main-menu">
						<ul>
							<li class="submenu">
								<a href="#0" class="show-submenu">Home<i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="index.html">Home Default</a></li>
									<li><a href="index-2.html">Home Version 2</a></li>
									<li><a href="index-3.html">Home Version 3</a></li>
									<li><a href="index-4.html">Home Version 4</a></li>
									<li><a href="index-5.html">With Cookie Bar (EU law)</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#0" class="show-submenu">Pages<i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="list.html">List page</a></li>
									<li><a href="grid-list.html">List grid page</a></li>
									<li><a href="list-map.html">List map page</a></li>
									<li><a href="detail-page.html">Detail page</a></li>
									<li><a href="detail-page-2.html">Detail page 2</a></li>
                                    <li><a href="detail-page-3.html">Detail page 3</a></li>
									<li><a href="blog-1.html">Blog</a></li>
									<li><a href="badges.html">Badges</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="login-2.html">Login 2</a></li>
									<li><a href="register-doctor.html">Register Doctor</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="contacts.html">Contacts</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#0" class="show-submenu">Extra Elements<i class="icon-down-open-mini"></i></a>
								<ul>
                                	<li><a href="detail-page-working-booking.html">Detail working booking</a></li>
                                    <li><a href="booking-page.html">Booking page</a></li>
                                    <li><a href="confirm.html">Confirm page</a></li>
                                	<li><a href="faq.html">Faq page</a></li>
                                    <li><a href="coming_soon/index.html">Coming soon</a></li>
                                     <li><a href="pricing-tables.html">Responsive pricing tables</a></li>
                                     <li><a href="pricing-tables-2.html">Responsive pricing tables 2</a></li>
                                     <li><a href="register-doctor-working.html">Working doctor register</a></li>
									<li><a href="icon-pack-1.html">Icon pack 1</a></li>
									<li><a href="icon-pack-2.html">Icon pack 2</a></li>
									<li><a href="icon-pack-3.html">Icon pack 3</a></li>
									<li><a href="404.html">404 page</a></li>
								</ul>
							</li>
							<li><a href="#0">Buy this template</a></li>
						</ul>
					</div>
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- container -->
	</header>
	
	{% block content %} {% endblock %} 
	
	{% block footer %} {% endblock %} 
	</body>		
</html>