{% load staticfiles %}	
<!-- /Header -->
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/common_scripts.min.js' %}"></script>
<script src="{% static 'js/functions.js' %} ">
</script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_LWerl_KKlujPhPZjAFuMZjZj8_vMSzg&callback=init"> </script>
<script src="http://192.168.1.71:5678/socket.io/socket.io.js"></script>
{% load staticfiles %}
<script src="{% static 'js/client.js' %}"></script>

<script>
  var map;
  var markers = [];
  var html = "";

  function init(){
      var uluru = {lat:16.768099, lng:-93.0854785};
      map = new google.maps.Map(document.getElementById('map'), {
      zoom:8,
      center: uluru
    });
  }



  function initMap(latin, lngin, zin) {
      setMapOnAll(null);
      var uluru = {lat:latin, lng:lngin};

      var marker = new google.maps.Marker({
        position: uluru,
        map: map,
        draggable: true,
  	  title: 'Arrastrame'
      });
      markers.push(marker);

      map.setZoom(zin);
      map.panTo(marker.position);

      google.maps.event.addListener(marker, 'position_changed', function(){
  			getMarkerCoords(marker)
  	});

    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }  
  }

  function call_imei(imei){
    $.ajax({
      data : {'imei':imei},
      url : '/busqueda_ajax/',
      type : 'get',
      success: function(data){
        if (data != ""){
          html = ""; 
          html += '<h11>LATITUD: '+data[0].fields.latit+'</h11>';
          html += '<br/>';
          html += '<h11>LONGITUD: '+data[0].fields.longi+'</h11>';
          $('#datos').html(html);
          var lat = data[0].fields.latit;
          var lon = data[0].fields.longi;
          lat = (lat*1);
          lon = (lon*1);
          initMap(lat,lon, 16);
          sendimei(data[0].fields.imei);
        }else{
          html = ""; 
          html = '<div></div>';
          $('#datos').html(html);
          init();
          sendimei(imei);
        }
      }
    });
  }
</script>


