{% extends 'front/base/base_header.html' %}


<!-- tittle inicio -->
{% block title %}
	 GPS PABLO
{% endblock %} 
<!-- tittle fin -->



<!-- scripts inicio -->
{% block scripts %}
	{#Aqui colocaremos los scripts#}
	
{% endblock %}
<!-- content inicio -->

{% block content %}
	<div class="container-fluid full-height">
		<div class="row row-height">
			<div class="col-lg-4">
				<br/>
				<br/>
				<br/>
				<!--<form>
					<div class="search_bar_wrapper">
						<div class="search_bar_list">
							<input type="text" name="search_text" id="search_text" class="form-control" placeholder="Nombre">
							<input type="submit" value="Buscar">
						</div>
					</div>
				</form>-->
				<br/>
				<div style="width: 100%; height: 45%; overflow-y: scroll;">
				{% for gps in gpsus %} 					
					<div class="strip_list">
						<figure>
							<a href="javascript:call_imei({{ gps.imei }});"><img src="http://via.placeholder.com/565x565.jpg" alt=""></a>
						</figure>
						<small>UPGCH</small>
						<h11>
							<font size="3">{{ gps.cmp_nombre }}</font>
						</h11>
						<br/>
						<h11>
							<font size="3">{{ gps.cmp_unidad }}</font>
						</h11>
						<p></p>
					</div>
					<hr/>
			    {% endfor %}
			    </div>			
				<!-- /strip_list -->
				<br/>
				<div class="box_badges">
					<div id="datos">					
					</div>
					<br/>
					<div id="address">
						
					</div>
				</div>
			</div>
			<!-- /content-left-->
			<div class="col-lg-8 map-right">
				<div id="map">
					
				</div>
				<!-- map-->
			</div>
			<!-- /map-right-->
			
		</div>
		<!-- /row-->
	</div>
	<!-- /container-fluid -->



{% endblock %}
<!-- content fin -->

<!-- footer inicio -->
{% block footer %}
	{#Aqui colocaremos los footer#}

	{% include "front/base/base_footer.html" %}
{% endblock %}
<!-- footer fin -->